/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

h1 {
    color: #00AEEF;
    text-align: center;
}

h2 {
    color: #00AEEF;
    text-align: left;
}

p, ul {
    font-size: 20px;  /* Change this to adjust the text size */
    line-height: 1.8;
    padding: 10px;
}

#navbar {
    background-color: #1E1E1E;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

#navbar ul li {
    list-style: none;
    margin: 0 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: #8FFF00;
    padding: 10px;
}

#navbar ul li a:hover {
    background-color: #8FFF00;
    color: white;
    border-radius: 5px;
}

#header {
    padding: 100px 20px; /* Added horizontal padding for mobile */
    height: auto; /* Allow the height to adjust automatically */
    background-color: #1E1E1E;
    text-align: center;
}

#header h1 {
    font-size: 32px; /* Adjusted font size for better readability on mobile */
    margin: 0; /* Remove default margin */
}

#header p {
    font-size: 22px;
    color: #8FFF00;
}

/* Sections */
.section-with-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.text-content {
    flex: 1;
    justify-content: center;
    padding-right: 20px;
    text-align: left;
    max-width: 600px;
}

.image-content {
    flex: 0 0 300px;
    padding-left: 20px;
}

.image-content img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

footer {
    background-color: #1E1E1E;
    text-align: center;
    padding: 20px;
    color: #8FFF00;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #header {
        padding: 20px 10px; /* Reduced padding for mobile */
        height: 50px;
    }

    #header h1 {
        font-size: 28px; /* Smaller heading size for mobile */
    }

    #header p {
        font-size: 18px; /* Adjusted font size for better readability on mobile */
    }

    .section-with-image {
        flex-direction: column; /* Stack the image and text on smaller screens */
        padding: 40px 10px;
    }

    .text-content {
        padding-right: 0;
        text-align: center; /* Center text on small screens */
        max-width: 100%; /* Use full width on smaller screens */
    }

    .image-content {
        padding-left: 0;
        margin-top: 20px; /* Add some space between text and image */
    }

    #navbar {
        display: none;
    }

    #navbar ul {
        display: none; /* Stack navigation links vertically */
    }

    #navbar ul li {
        display: none; /* Space out the links */
    }

    h1, h2 {
        font-size: 24px; /* Adjust heading sizes for smaller screens */
    }

    p, ul {
        font-size: 18px; /* Adjust text size for readability */
    }
}